<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<context:component-scan base-package="controller"/> <!-- controller 패키지 스캔해줌  -->
	<context:component-scan base-package="service"/> <!-- service 패키지 ㅋ스캔해줌 --><!-- 자동으로 빈 등록해줌 service -->
	
	<import resource="classpath:/spring/spring-repository.xml"/> <!-- 이것도 분할해준건데 이거는 빈을 등록하는곳 빈에 대해서는 이따가 설명드릴께요 -->

<!-- 컨트롤러 처리결과를 보여줄 View -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" abstract="false" lazy-init="default">
		<property name="prefix"><value>/WEB-INF/jsp/</value></property>
		<property name="suffix"><value>.jsp</value></property>
		<property name="contentType" value="text/html; charset=UTF-8"/>
		<property name="order" value="2" />
	</bean> <!-- 이거는 컨트롤러에서 리턴값이 jsp파일인데 helloWorld.jsp 으로 안쓰고 그냥 helloWorld 으로 써도 인식해주게 해주는 설정  /jsp/ 경로라는 의미-->
	
	<bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
		<property name="contentType" value="application/json; charset=UTF-8" />
	</bean>
	
	
 	<!-- <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
  		<property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView" />
 	</bean>	 -->
	
</beans>