<?xml version="1.0" encoding="UTF-8"?>
 <beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"    xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  
<!-- 어노테이션 사용 설정 -->
	<context:annotation-config /> <!-- @ㅇ같은거 쓸수있게 -->

	<!-- <import resource="classpath:/mybatis/mybatis-context.xml"/> -->

	<import resource="classpath:/spring/spring-context.xml"/> <!-- 여기에 실제 설정이 있음 원래 여기다가 만들어도 되는데 너무 길어지니까 나눠준거예요 -->
	

</beans>